/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gsea Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/



// Global default params, used in configs
params {

    inputfile                  = "inputfile.rnk"
    outdir                     = "results"
    gmx                        = "$projectDir/assets/h.all.v6.2.symbols.gmt"
    gsea                       = "$projectDir/bin/gsea-3.0.jar"
    perm                       = "1000"
    min_set                    = "15"
    max_set                    = "500"
    plot                       = "dot"


    max_memory = '128.GB'
    max_cpus = 8
    max_time = '72.h'


    // Boilerplate options
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'
    enable_conda               = false


}


//includeConfig 'conf/local.config'

profiles {
  myriad {
    includeConfig 'conf/myriad.config'
  }
}


// For the clipseq pipeline, set TMPDIR to avoid this: https://github.com/nf-core/clipseq/issues/31
env {
	_JAVA_OPTIONS="-Djava.io.tmpdir=./"
	TMPDIR="./"
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'gsea'
    author          = 'LC'
    homePage        = 'https://github.com/UCL-BLIC/gsea'
    description     = 'Nextflow pipeline that runs GSEA on a list fo ranked genes'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.3'
    doi             = ''
}


